body {
    margin: 0;
    padding: 0;
    display: grid;
    min-height: 100%;
    height: 100vh;
    grid-template-rows:
        min-content
        min-content 
        1fr;
}

#toolbar {
    padding: 5px;
    /* display: flex; */
    gap: 5px;
    /* flex: 0 0 auto; */
    /* flex: none; */
    /* background: blueviolet; */
}

#counter {
    font-family: sans-serif;
    background-color: #f7f7f7;
    text-align: center;
    width: 100%;
    padding: 0.5em 0;
    /* display: flex;
    flex: 0 0 auto;
    flex-shrink: 0; */
    /* flex: none; */
    /* background: red; */
}

/* textarea {
    width: 100%;
    height: 100%;
    font-size: 16pt;
    padding: 1em;
    box-sizing: border-box;
    outline: 0;
    border: none;
    border-top: 1px solid #999;
} */

.layout {
display: flex;
/* height: calc(100vh - 70px); */
/* flex: 1; */
min-height: 0;
/* background: green; */
}

#sidebar {
    width: 250px;
    border: 1px solid black;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

#sidebar div {
padding: 4px;
}

#sidebar div:hover {
background-color: #e8e8e8;
}
#resizer {
    width: 5px;
    background: #ccc;
    cursor: col-resize;
}


.selected-note {
background-color: #cce5ff;
}

.editor {
    flex: 1;
    display: flex;
    height: 100%;
    overflow: hidden;
}

/* .editor {
    display: flex;
    gap: 20px;
} */

textarea {
    height: 100%;
    resize: none;
    box-sizing: border-box;
    width: 500px;
    flex-shrink: 0;
}
#resizertext {
    width: 5px;
    background: #ccc;
    cursor: col-resize;
}

#preview {
    height: 100%;
    overflow-y: auto;
    overflow-x: auto;
    font-size: 16pt;
    border: 1px solid #ccc;
    padding: 10px;
    font-family: "Segoe UI", sans-serif;
    flex: 1;
    min-width: 0;
    box-sizing: border-box;
}
#resizerprev {
    width: 5px;
    background: #ccc;
    cursor: col-resize;
}

#preview h1 {
border-bottom: 1px solid #ccc;
}

#preview code {
background: #eee;
padding: 2px 4px;
}

#preview blockquote {
border-left: 4px solid #ccc;
}

#preview mjx-container {
max-width: 100%;
}

#preview mjx-container[display="true"] {
display: block;
overflow-x: auto;
overflow-y: hidden;
}

@media print {

    #sidebar,
    #resizer,
    textarea,
    button,
    #counter {
        display: none;
    }

    #preview {
        width: 100%;
        height: auto !important;
        overflow: visible !important;
        border: none !important;
        padding: 0 !important;
        margin: 0 !important;
    }

    body{
        overflow: visible;
    }
    .layout,
    .editor {
    overflow: visible;
    }
}

